$green: #9CEC5B;
$purple: #533A71;

.green {
    color: $green;
}
.purple {
    color: $purple;
}
.bg-green {
    background-color: $green;
}
.bg-purple {
    background-color: $purple;
}

.white {
    color: white;
}

.bg-white {
    background-color: white;
}