$green: #9CEC5B;
$purple: #533A71;
$blue: #455FA1;

.green {
    color: $green;
}
.purple {
    color: $purple;
}

.blue { 
    color: $blue;
}
.bg-green {
    background-color: $green;
}
.bg-purple {
    background-color: $purple;
}

.bg-blue {
    background-color: $blue;
}

.white {
    color: white;
}

.bg-white {
    background-color: white;
}