$green: #9CEC5B;
$purple: #533A71;
$blue: #455FA1;
$darkgreen: #72B23E;
$lightgreen: #EFFFC8;
.green {
    color: $green;
}
.purple {
    color: $purple !important;
}

.blue { 
    color: $blue;
}

.lightgreen {
    color: $lightgreen;
}

.bg-green {
    background-color: $green;
}

.bg-lightgreen {
    background-color: $lightgreen;
}

.bg-darkgreen {
    background-color: $darkgreen;
}

.bg-purple {
    background-color: $purple;
}

.bg-blue {
    background-color: $blue;
}

.white {
    color: white;
}

.bg-white {
    background-color: white;
}
.darkgreen {
    color: $darkgreen;
}