body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' sans-serif;
}

.title {
    font-weight: 700;
    color: $green;
    padding-bottom: 1rem;
}
.title--white {
    @extend.title;
    color: white!important;
}
.paragraph {
    font-weight: 300;
    color: $purple;
    font-size: 1.5rem;
}
.paragraph--white {
    @extend.paragraph; 
    color: white !important;
}
.btn-1 {
    background-color: $green;
    color: white;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.8rem 2rem;
}
.wave {
    width: 100%;
    height: 100%;
}
.bg-blue {
    background-color: $blue;
}

.loading {
    .loading-icon {
        display: flex;
    }
    span {
        display: none;
    }
    .arrow-icon {
        display: none;
    }
}
.hasloaded {
    .loading-icon {
        display: none;
    }
    .arrow-icon {
        display: flex;
    }
    span {
        display: none;
    }
}
.loading-icon, .arrow-icon {
    display: none;
}
.bg-blob {
    width: 280px;
    height: 280px;
    background-image: url('../images/blob.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.paragraph {
    font-size: 1.45rem;
    font-weight: 300;
    letter-spacing: .26px;
    line-height: 52px;
    color: $purple;
}

.subtitle {
    @extend.paragraph;
    font-size: 1.2rem;
}

.subtitle--white {
    @extend.subtitle;
    color: white;
}

.offset {
    position: relative;
    top: -75px;
    margin-top: -75px;
}

.top-slanted {
    clip-path: polygon(0px 0px, 100% 50px, 100% 100%, 0px 100%);
}
.top-slanted-2 { 
    clip-path: polygon(0px 50px, 100% 0px, 100% 100%, 0px 100%);
}
#chart {
    width: 100% !important;
    height: 400px !important;
}
